<!DOCTYPE html>
<html> 
<head>
	<title>Form Result</title>

	<link rel="stylesheet" href="./css/index.css">

</head>
<body>
	<div class="topnav" id="myTopnav">
		<a href="./">Home</a>
		<a href="./labs">Labs</a>
		<a href="./profile">Profile</a>
		<a href="javascript:location.reload (false)" class = "active">Form Result</a>
		<div class="unhyperlinkedNav">Alyssa Gorbaneva's Website</div>
	</div>

	<h2> {{name}}'s Obituary</h2>

	<div>
			<p> While walking down the street, {{name}} stumbled across an acorn. {{pronoun}} interest was peaked, and {{name}} planted the acorn in {{pronoun}} backyard. The next day, a huge acorn tree grew in {{pronoun}} yard and collapsed onto {{pronoun}} house. {{name}} died. 
			<br><br>
			It was later found that {{name}} wanted to do a lot more with {{prounoun}} life. {{name}}'s old diary was found and inside was written the following: <br><br>
			"If I get more time, {{story}}" <br><br>
			Saddened by a life cut far too short, {{name}}'s family and closest friends dropped by {{pronoun}} grave to place beautiful {{color}} flowers in {{pronoun}} memory. </p><br>

	</div>



</body>

</html>

